{{#partial "title"}}Entry Detail Page{{/partial}}

{{#partial "content"}}
    <div class="container">

        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{ entry.title }}</h1>
                        <time>{{ entry.dateTime }}</time>
                        <div class="entry">
                            <p>{{ entry.body }}</p>
                            <p><a class="link" href="/edit/{{ entry.slug }}">Edit Entry</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="entry-comments">
            <div class="container">
                <h2>Comments</h2>
                <div class="comment">
                    {{#each entry.comments}}
                        <strong>{{this.author}}</strong>
                        <time>{{dateTime}}</time>
                        <p>{{this.comment}}</p>
                    {{/each}}
                </div>

                <div class="new-comment">
                    <form action="/detail/{{entry.slug}}/comment" method="post">
                        <label for="author"> Name</label>
                        <input type="text" name="author"><br>
                        <label for="comment">Comment</label>
                        <textarea rows="5" name="comment"></textarea>
                        <input type="submit" value="Post Comment" class="button">
                        <a href="/" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </section>

    </div>
{{/partial}}

{{> base.hbs}}
